# COMPOSE_FILE="docker-compose.yml"
# COMPOSE_FILE="docker-compose.yml:docker-compose.dev.yml"

SESSION_AUTH_KEY=
SESSION_ENC_KEY=

REDIS_PASSWORD=

BASIC_AUTH_USER=
BASIC_AUTH_PW=

CSRF_KEY=
DB_FOLDER=../runtime/converter/db/postgres
FILE_FOLDER=../runtime/converter/files
FILE_FOLDER_CONVERTED=../runtime/converter/files_converted

DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_URL=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_FOLDER=../runtime/converter/rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

CONVERTER_REPLICAS=1
